
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;    
    font-family: 'Roboto', sans-serif;
    
}

header {
  display: flex;
  justify-content:space-between;
  width: 90%;
  align-items: center;
  margin:0 auto;
  border: 1px solid black;
  }

  header > button  { 
    background-color: #0973de;
    color:#fff;
    padding:15px 25px;
    border: none;
    border-radius: 10px;
  }

ul {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:space-between;
  list-style: none;
}

ul > li {
  margin-left: 30px;
}

ul > li > a {
  text-decoration: none;
  color:#8C8C8C;
  font-weight: 700;
  padding:10px 15px;
}

ul > li > a:hover {
  color: #fff;
  background-color: #0973de;
  transition-delay: 0.2s;
  border: none;
  border-radius: 10px;
}
